::selection {
  background: hsla(16, 136, 235, .8);
}
body {
  margin: 0;
  padding: 0;
}
.eoi-box {
  height: 288px;
  width: 708px;
  line-height: 0;
  margin: 0 auto;
}

.eoi-box span {
  width: 38px;
  display: inline-block;
  border: 1px solid #fff;
  height: 38px;
  background-color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  margin-left: -1px;
  margin-bottom: -1px;
  position: relative;
}

.eoi-box span i {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  transform: skewx(-25deg);
  -o-transform: skewx(-25deg);
  -moz-transform: skewx(-25deg);
  -webkit-transform: skewx(-25deg);
  background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,.5),rgba(255,255,255,0));
  z-index: 10;
  transition: all .3s;
}

.eoi-box span img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: none;
  position: relative;
  display: none;
}
.eoi-box span:hover > i{
  animation: .5s faceHover;
}

@keyframes faceHover {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.you:after {
  content: "YOU";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F40;
  line-height: 38px;
  font-size: 14px;
  color: #FFF;
  text-align: center;
}